.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.headerIcon {
  height: 25px;
  width: auto;
}

.headerTitle {
  font-size: 1.25rem; // 20px
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.arrowGroupBtn {
  background: #332E42;
  border: none;
  border-radius: 8px;
  padding: 0.3rem 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}

.arrowIcon {
  display: inline-block;
  vertical-align: middle;
  color: #837B99;
}
.container {
  margin-bottom: 2rem;
}
.grid {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}
.card {
  min-width: 160px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.selected {
  box-shadow: 0 0 0 3px #7658ED;
  border-color: #7658ED !important;
  border-radius: 4px;
}
.providerImg {
  width: 160px;
  height: 80px;
  border-radius: 4px;
  background: #222;
}
.scrollArea {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1rem;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}
.scrollArea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}