.searchBarWrapper {
  display: flex;
  align-items: center;
  background: #262232;
  border: 2px solid #3A334A;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
}

.searchIcon {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  color: #EAE6F5;
  font-size: 1rem;
  width: 100%;
} 