.toggle {
  margin-bottom: 1.5rem;
  padding: 0.5rem 1.2rem;
  background: #7658ED;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.toggle:hover {
  background: #1E1B26;
} 